<div class="inner header-inner">
  <div class="left">
    <h2><a class="logo" href="index.html">Masuda<br> Dance Academy</a></h2>
  </div>
  <div class="right">
    <h1>東京都豊島区の社交ダンス教室【増田ダンスアカデミー】ダンス初心者の方からプロの方まで大歓迎です！</h1>
    <p class="header-tel"><i class="fas fa-phone-square-alt"></i>03-5924-6702
      <a href="#access"><i class="fas fa-map-marker-alt"></i></a>
    </p>
    <div class="header-times">
      <p>【営業時間】月曜〜金曜日 13:00~22:00 / 土曜•祝日 13:00~19:00<br><span class="adjust1">【定休日】</span>日曜日</p>
    </div>
  </div>
</div>