<nav id="mainNav">
	<div class="inner">
		<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">
			<ul>
				<li><a href="beginner.html"><strong>初めての方へ</strong><span>FOR BIGINNER</span></a></li>
				<li>
					<a href="lesson.html#lesson-fee"><strong>料金表</strong><span>MENU</span></a>
				</li>
				<li>
					<a href="lesson.html"><strong>レッスン</strong><span>LESSON</span></a>
				</li>
				<li><a href="staff.html"><strong>スタッフ</strong><span>STAFF</span></a></li>
				<li><a href="question.html"><strong>よくある質問</strong><span>Q&A</span></a></li>
				<li><a href="#"><strong>ブログ</strong><span>BLOG</span></a></li>
				<li><a href="contact.html"><strong>お問い合わせ</strong><span>CONTACT</span></a></li>
			</ul>
		</div>
	</div>
</nav>

<script src="js/script.js"></script>