<section class="widgetInfo">
  <div class="img_wrap">
    <a style="border-radius: 5px;" href="#"><img  style="border-radius: 5px;" src="images/official_movie.jpg" alt="オフィシャルムービー"></a>
  </div>
</section>
<section class="widgetInfo">
  <div class="img_wrap">
    <a href="/beginner.html"><img  style="border-radius: 5px;" src="images/for_beginner_img.jpg" alt="初心者の方へ"></a>
  </div>
</section>
<section class="widget">
  <h3><span>SNS</span></h3>
  <ul>
    <li class="sns-hov masuda-line"><a href="https://line.me/R/ti/p/%40325egncd"><i class="fab fa-line sns"></i>LINE</a></li>
    <li class="sns-hov masuda-facebook"><a href="https://www.facebook.com/share.php?u=https%3A%2F%2Fmasudadance.crayonsite.com%2Fp%2F2%2F"><i class="fab fa-facebook-f sns"></i>facebook</a></li>
    <li class="sns-hov masuda-twitter"><a href="https://twitter.com/share?text=%E2%98%85%20Lesson%20%E2%98%85%20Staff%20%7C%20Masuda%20Dance%20Academy&url=https%3A%2F%2Fmasudadance.crayonsite.com%2Fp%2F2%2F"><i class="fab fa-twitter sns"></i>twitter</a></li>
  </ul>
</section>