<div class="trial-lesson">
  <table>
    <tbody>
      <tr>
        <th><p>体験レッスン予約受付中!</p></th>
      </tr>
      <tr>
        <td><p style="font-size:20px;">お気軽にお問い合わせください</p></td>
      </tr>
      <tr>
        <td><p><i class="fas fa-phone-square-alt"></i>03-5924-6702</p></td>
      </tr>
      <tr>
        <td><p class="mail side2"><i class="far fa-envelope"></i><a href="mailto:masuda.dance@outlook.jp">メールでお問い合わせ</a></p></td>
      </tr>
      <tr>
        <td><p class="mail side2"><a href="/contact.html">お問い合わせフォームへ</a></p></td>
      </tr>
    </tbody>
  </table>
</div>